/**************/
/**** Body ****/
/**************/

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-text: #CCd0cf;
    --color-main-background: #03141B;
    --color-headinds: #00BD8E;
    --color-footer-background: #00BD8E;
    --color-footer-text: #0E1D2A;
    --color-li-background: #2d3a45;
    --color-li-text: #CCd0cf;
    --color-li-left: #49c0a6;
}

/*************/
/** General **/
/*************/

body {
    background-color: var(--color-main-background);
    color: var(--color-text);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}

/* Fonts */

h1 {
    font-size: 1px;
    color: transparent;
    z-index: -10;
}

h2 {
    color: var(--color-headinds);
}

h3 {
    font-weight: lighter;
}

.highlight {
    color: var(--color-headinds);
    font-weight: bold;
}



img {
    width: 100%;
    max-width: 40vw;
}

svg {
    max-width: 2vw;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

a:link {
    color: var(--color-text);
    text-decoration: none;
}

/************/
/** Header **/
/************/

header {
    display: flex;
    justify-content: center;
}


/*************/
/**** NAV ****/
/*************/



nav ol {
    display: flex;
    justify-content: space-around;
}


/**************/
/**** Main ****/
/**************/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*************/
/** Artile **/
/*************/

article {
    width: 80vw;
}

article div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;

}

/*************/
/** Section **/
/*************/

main li {
    font-weight: bold;
    width: 45%;
    background-color: var(--color-li-background);
    color: var(--color-li-text);
    padding: 1em 2em;
    border: none;
    text-transform: uppercase;
    position: relative;
    margin: 1em 0;
}

main li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 100%;
    background-color: var(--color-li-left);
}

div section {
    width: 35vw;
}

div section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Software */
ul.software-slider {
    flex-wrap: nowrap;
    flex-direction: column;
}

ul.software-slider li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--color-li-left);
    color: var(--color-footer-text);
    align-items: center;
}



/* General styles for the range input */
input[type="range"] {
    -webkit-appearance: none;
    width: 70%;
    height: 8px;
    background: var(--color-li-text);
    border-radius: 5px;

}

/* Style the thumb (the draggable circle) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--color-li-background);
    /* Thumb color */
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
}

















/************/
/** Footer **/
/************/

footer {
    display: flex;
    background-color: var(--color-footer-background);
    color: var(--color-footer-text);
    font-weight: bold;
    justify-content: center;
    margin: 2em;
    padding: 1em;
}

footer h2 {
    color: varm, (--color-footer-text);
}

footer a:link {
    color: var(--color-footer-text);
    font-weight: bold;
}